

<div class="header_navbar header_navbar-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav id="navbar" class="navbar navbar-2 navbar-expand-lg navbar-light">
                  <div class="container-fluid px-0">
                    <a class="navbar-brand">
                        <img class="mw-25 w-25" src="/assets/burger.png" alt="HAMBURGER"> 
                    </a>
                    <div class="collapse navbar-collapse" id="navbarScroll">
                        <ul class="navbar-nav navbar-nav-2 ms-auto mb-2 mb-lg-0" style="--bs-scroll-height: 100px;">
                            <li class="nav-item active">
                                <a class="nav-link dd-menu page-scroll collapsed" href="#home" data-bs-toggle="collapse" data-bs-target="#submenu-list1"
                                aria-expanded="true" aria-label="Toggle navigation">Home</a>
                            </li>
                        </ul>
                    </div>
                  </div>
                </nav>
            </div>
        </div> 
    </div>
</div> 



